extends ../dashboard

block painel
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Página default
			ol.breadcrumb
				li
					a(href='/') Inicio
				li.active
					strong Página default
		.col-lg-2

	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Alex Smith
						h4 Founder of Groupeq
						small
							| There are many variations of passages of Lorem Ipsum available, but the majority
							| have suffered alteration in some form Ipsum available.

	section#cd-timeline.cd-container
		.cd-timeline-block
			.cd-timeline-img.cd-picture
				img(src='img/cd-icon-picture.svg', alt='Picture')
			// cd-timeline-img
			.cd-timeline-content
				//- h2 Title of section 1
				//- p
				//- 	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
				//- a.cd-read-more(href='#0') Read more
				//- span.cd-date Jan 14
				h2 Meeting
				p
					| Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
				a.btn.btn-sm.btn-primary(href='#')  More info
				span.vertical-date
					| Today 
					br
					small Dec 24
			// cd-timeline-content
		// cd-timeline-block
		.cd-timeline-block
			.cd-timeline-img.cd-movie
				img(src='img/cd-icon-movie.svg', alt='Movie')
			// cd-timeline-img
			.cd-timeline-content
				h2 Title of section 2
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?
				a.cd-read-more(href='#0') Read more
				span.cd-date Jan 18
			// cd-timeline-content
		// cd-timeline-block
		.cd-timeline-block
			.cd-timeline-img.cd-picture
				img(src='img/cd-icon-picture.svg', alt='Picture')
			// cd-timeline-img
			.cd-timeline-content
				h2 Title of section 3
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.
				a.cd-read-more(href='#0') Read more
				span.cd-date Jan 24
			// cd-timeline-content
		// cd-timeline-block
		.cd-timeline-block
			.cd-timeline-img.cd-location
				img(src='img/cd-icon-location.svg', alt='Location')
			// cd-timeline-img
			.cd-timeline-content
				h2 Title of section 4
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
				a.cd-read-more(href='#0') Read more
				span.cd-date Feb 14
			// cd-timeline-content
		// cd-timeline-block
		.cd-timeline-block
			.cd-timeline-img.cd-location
				img(src='img/cd-icon-location.svg', alt='Location')
			// cd-timeline-img
			.cd-timeline-content
				h2 Title of section 5
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.
				a.cd-read-more(href='#0') Read more
				span.cd-date Feb 18
			// cd-timeline-content
		// cd-timeline-block
		.cd-timeline-block
			.cd-timeline-img.cd-movie
				img(src='img/cd-icon-movie.svg', alt='Movie')
			// cd-timeline-img
			.cd-timeline-content
				h2 Final Section
				p This is the content of the last section
				span.cd-date Feb 26
			// cd-timeline-content
		// cd-timeline-block
	// cd-timeline
	// Modernizr timeline
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/modernizr-timeline/main.js')
	script(src='/bootstrap/js/modernizr-timeline/modernizr.js')