extends ../dashboard

block painel
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
      h2 Página default
      ol.breadcrumb
        li
          a(href='/') Inicio
        li.active
          strong Página default
    .col-lg-2