extends ../layout

block content
	h1 Página Home
	br
	// a(href="/" title="Página Principal") Página Principal
	ul
		li
			a(href="/modulo01" title="Módulo 01") Módulo 01
		li
			a(href="/modulo02" title="Módulo 02") Módulo 02
		li
			a(href="/modulo01/sair" title="Módulo 01 Sair") Módulo 01 > Sair 