extends ../dashboard

block painel
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-4
			h2 Bem-vindo ao income.me
			small A Income ajuda investidores de Renda Fixa a analisar, comparar e simular seus investimentos.
				ul.todo-list.m-t.small-list.ui-sortable
					li
						a.check-link(href='#')
							i.fa.fa-check-square
						span.m-l-xs Planeje sua independência financeira.
					li
						a.check-link(href='#')
							i.fa.fa-check-square
						span.m-l-xs Planeje acumular o capital desejado
					li
						a.check-link(href='#')
							i.fa.fa-check-square
						span.m-l-xs Planeje seu período de investimentos
					li
						a.check-link(href='#')
							i.fa.fa-check-square
						span.m-l-xs Compare diferentes tipos de investimentos CDBs
					//- li
					//- 	a.check-link(href='#')
					//- 		i.fa.fa-square-o
					//- 	span.m-l-xs.todo-completed Send documents to Mike
					//- 	small.label.label-primary
					//- 		i.fa.fa-clock-o
					//- 		|  1 mins
					//- li
					//- 	a.check-link(href='#')
					//- 		i.fa.fa-square-o
					//- 	span.m-l-xs.todo-completed Go to the doctor dr Smith
					//- li
					//- 	a.check-link(href='#')
					//- 		i.fa.fa-square-o
					//- 	span.m-l-xs.todo-completed Plan vacation
		.col-lg-8
			.ibox-content
				canvas#barChart.barChart(height='90')

	section#cd-timeline.cd-container
		.cd-timeline-block
			.cd-timeline-img.navy-bg
				i.fa.fa-twitch.fa-lg
			.cd-timeline-content
				h2 Independência financeira
				p
					| Simule quanto precisaria investir para atingir um rendimento mensal e garantir sua aposentadoria.
				a.btn.btn-sm.btn-primary(href='/rendimento-mensal-independencia-financeira')  Saiba mais
				span.cd-date
					| 1º passo
					br
					small Planejando seus objetivos
		.cd-timeline-block
			.cd-timeline-img.blue-bg
				i.fa.fa-info-circle.fa-lg
			.cd-timeline-content
				h2 Acumular Capital
				p
					| Simule quanto precisaria investir para atingir um valor de capital desejado.
				a.btn.btn-sm.btn-primary(href='/acumular-capital-com-investimento-mensal') Saiba mais
				span.cd-date
					| 2º passo
					br
					small Planejando seus objetivos
		.cd-timeline-block
			.cd-timeline-img.lazur-bg
				i.fa.fa-info.fa-lg
			.cd-timeline-content
				h2 Investimento no período
				p
					| Simule qual será seus rendimentos e o capital acumulado ao final de um período investindo.
				a.btn.btn-sm.btn-primary(href='/investimento-no-periodo') Saiba mais
				span.cd-date
					| 3º passo
					br
					small Planejando seus objetivos
		.cd-timeline-block
			.cd-timeline-img.yellow-bg
				i.fa.fa-bank.fa-lg
			.cd-timeline-content
				h2 Comparar e simular CDB's
				p
					| Simule e analise a rentabilidade alcançada com diferentes percentuais de CDBs.
				a.btn.btn-sm.btn-primary(href='/comparar-simular-cdb') Saiba mais
				span.cd-date
					| 4º passo
					br
					small Analise antes de investir
		.cd-timeline-block
			.cd-timeline-img.navy-bg
				i.fa.fa-bank.fa-lg
			.cd-timeline-content
				h2 Continue aprendendo a investir
				p
					| Saiba mais sobre a income.me
				a.btn.btn-sm.btn-primary(href='/sobre') Saiba mais
				span.cd-date
					| 5º passo
					br
					small Quem somos?
		//- .cd-timeline-block
		//- 	.cd-timeline-img.lazur-bg
		//- 		i.fa.fa-bank.fa-lg
		//- 	.cd-timeline-content
		//- 		h2 Final Section
		//- 		p This is the content of the last section
		//- 		span.cd-date
		//- 			| 7º passo
		//- 			br
		//- 			small descrição do step
		//- .cd-timeline-block
		//- 	.cd-timeline-img.lazur-bg
		//- 		i.fa.fa-bank.fa-lg
		//- 	.cd-timeline-content
		//- 		h2 Final Section
		//- 		p This is the content of the last section
		//- 		span.cd-date
		//- 			| 8º passo
		//- 			br
		//- 			small descrição do step
		//- .cd-timeline-block
		//- 	.cd-timeline-img.lazur-bg
		//- 		i.fa.fa-bank.fa-lg
		//- 	.cd-timeline-content
		//- 		h2 Final Section
		//- 		p This is the content of the last section
		//- 		span.cd-date
		//- 			| 9º passo
		//- 			br
		//- 			small descrição do step
		//- .cd-timeline-block
		//- 	.cd-timeline-img.lazur-bg
		//- 		i.fa.fa-bank.fa-lg
		//- 	.cd-timeline-content
		//- 		h2 Final Section
		//- 		p This is the content of the last section
		//- 		span.cd-date
		//- 			| 10º passo
		//- 			br
		//- 			small descrição do step
	br
	.row
		.col-lg-12
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/modernizr-timeline/main.js')
	script(src='/bootstrap/js/modernizr-timeline/modernizr.js')
	// ChartJS
	script(src='/javascripts/chartjs/graficosChartJs.js')