extends ../dashboard

block painel
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Investimento no período
			ol.breadcrumb
				li
					a(href='/') Inicio
				li
					| Planejamento
				li.active
					strong Investimento no período
		.col-lg-2
	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Objetivo | Investir mensalmente
						h4 Simule qual será seus rendimentos e o capital acumulado ao final de um período investindo.
						small
							| Informe um capital inicial e seus investimentos fixos mensais, atualizando também a taxa de juros anual.
	.row
		.col-lg-12
			.ibox
				.ibox-title
					h5
						| Parâmetros de entrada 
						small Simule quando precisa investir ao mês para alcançar a sua independência financeira.
				.ibox-content
					.row.text-center
						.col-md-3
							p.font-bold
								| Período investindo (meses)
							input.periodoInvestindo.single-line#periodoInvestindo(type='text', value='36.0', name='Período Investindo')
						.col-md-3
							p.font-bold
								| Capital inicial
							input.investimentoInicial.single-line#investimentoInicial(type='text', value='1000.0', name='Investimento Inicial')
						.col-md-3
							p.font-bold
								| Investimento mensal
							input.investimentoMensal.single-line#investimentoMensal(type='text', value='700.0', name='investimento Mensal')
						.col-md-3
							p.font-bold
								| Taxa de juros (ao ano)
							input.taxaJuros.single-line#taxaJuros(type='text', value='12.0', name='Taxa Juros (ao ano)')
	.wrapper.wrapper-content.animated.fadeInRight
		.row
			.col-lg-3
				.widget.style1
					.row
						.col-xs-4.text-center
							i.fa.fa-calendar.fa-4x
						.col-xs-8.text-right
							span Atingir objetivo em
							h3.font-bold
								.valueAnos
								small
									.valueMeses
			.col-lg-3
				.widget.style1.navy-bg
					.row
						.col-xs-4
							i.fa.fa-money.fa-4x
						.col-xs-8.text-right
							span  Valor total investido
							h3.font-bold
								.valueValorInvestidoTotal
			.col-lg-3
				.widget.style1.lazur-bg
					.row
						.col-xs-4
							i.fa.fa-bank.fa-4x
						.col-xs-8.text-right
							span  Saldo final acumulado
							h3.font-bold
								.valueMontanteTotal
			.col-lg-3
				.widget.style1.yellow-bg
					.row
						.col-xs-4
							i.fa.fa-diamond.fa-4x
						.col-xs-8.text-right
							span Rendimento mensal atingido
							h3.font-bold
								.valueRendimentoTotal
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Gráfico da linha do tempo  
						small Observe o rendimento obtido mês a mês com seus investintos
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.row
						.col-lg-12
							.graficoLinhaTempoRendimento#graficoLinhaTempoRendimento

	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5 
						| Tabela com detalhamento por perído 
						small Resumo da simulação de quanto precisaria investir para atingir um rendimento mensal.
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.table-responsive
						table.table-hover.footable.table.table-stripped#tabelaDados
						//- table.table.table-striped.table-bordered.table-hover.dataTables-example
						//- .footable.table.table-stripped(data-page-size='8', data-filter='#filter')
	.row
		.col-lg-12
			p &nbsp;

	// TouchSpin
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js')
	script(src='/bootstrap/js/highcharts.js')
	script(src='/bootstrap/js/modules/exporting.js')
	script(src='/javascripts/financesjs/funcoesFinances.js')
	script(src='/javascripts/financesjs/funcoesDatas.js')
	//- script(src='/javascripts/planejamento/rendimento-mensal-independencia-financeira.js')
	script(src='/javascripts/planejamento/investimento-no-periodo.js')
	script(src='/bootstrap/js/plugins/dataTables/datatables.min.js')
	
	script.
		$(document).ready(function(){
			atualizaResultado();		
			$('.periodoInvestindo').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});
			$('.investimentoInicial').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});
			$('.investimentoMensal').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});
			$('.taxaJuros').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});

			$('.periodoInvestindo').blur(function f(){
				atualizaResultado();
			});
			$('.investimentoInicial').blur(function f(){
				atualizaResultado();
			});
			$('.investimentoMensal').blur(function f(){
				atualizaResultado();
			});
			$('.taxaJuros').blur(function f(){
				atualizaResultado();
			});

			$(".periodoInvestindo").TouchSpin({
				//- prefix: 'meses',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 0,
				initval: 36,
				min: 0,
				max: 100000000000,
				step: 1,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});   
			$(".investimentoInicial").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 1000,
				min: 0,
				max: 100000000000,
				step: 500,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".investimentoMensal").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 780,
				min: 0,
				max: 100000000000,
				step: 50,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".taxaJuros").TouchSpin({
					prefix: '%',
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white',
					decimals: 2,
					initval: 12,
					min: 0,
					max: 100000000000,
					step:0.1,
					verticalbuttons: true,
					verticalupclass: 'fa fa-plus',
					verticaldownclass: 'fa fa-minus'
			});			
		});			