extends ../dashboard

block painel
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Renda Mensal
			ol.breadcrumb
				li
					a(href='/') Inicio
				li
					| Planejamento
				li.active
					strong Renda Mensal
		.col-lg-2
	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Alex Smith
						h4 Founder of Groupeq
						small
							| There are many variations of passages of Lorem Ipsum available, but the majority
							| have suffered alteration in some form Ipsum available.
	.row
		p#demo(onclick='myFunction()') Click me to change my text color.
	.row
		.col-md-4
			p.font-bold
				| Basic example with empty value
			input.touchspin1#touchspin1(onclick='TouchSpin({buttondown_class: \'btn btn-white\',buttonup_class: \'btn btn-white\'})' type='text', value='', name='demo1')
		.col-md-4
			p.font-bold
				| Example with postfix
			input.touchspin2(type='text', value='55', name='demo2')
		.col-md-4
			p.font-bold
				| Example with vertical button alignment:
			input.touchspin3(type='text', value='', name='demo3')
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Bar Chart Example 
						small With custom colors.
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up			
						//- a.close-link
							i.fa.fa-times
				.ibox-content
					#graficoLinhaBasico
	script.
		function myFunction() {
			document.getElementById("demo").style.color = "red";
		//- 	document.getElementById("touchspin1").TouchSpin({
		//- 	buttondown_class: 'btn btn-white',
		//- 	buttonup_class: 'btn btn-white'
		//- });
		}
		alert('transation');
		$("touchspin1").TouchSpin({
			buttondown_class: 'btn btn-white',
			buttonup_class: 'btn btn-white'
		});
		$(".touchspin1").onclinck({
			buttondown_class: 'btn btn-white',
			buttonup_class: 'btn btn-white'
		});
		$("#touchspin1").onclinck({
			buttondown_class: 'btn btn-white',
			buttonup_class: 'btn btn-white'
		});

		$(document).ready(function(){
			$("touchspin1").TouchSpin({
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white'
			});

			$(".touchspin2").TouchSpin({
					min: 0,
					max: 100,
					step: 0.1,
					decimals: 2,
					boostat: 5,
					maxboostedstep: 10,
					postfix: '%',
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white'
			});

			$(".touchspin3").TouchSpin({
					verticalbuttons: true,
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white'
			});
		});