extends ../dashboard

block painel
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Renda Mensal
			ol.breadcrumb
				li
					a(href='/') Inicio
				li
					| Planejamento
				li.active
					strong Renda Mensal
		.col-lg-2
	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Objetivo | Atingir um rendimento mensal
						h4 Simule quanto precisaria investir para atingir um rendimento mensal.
						small
							| Informe um capital inicial e seus investimentos fixos mensais, atualizando também a taxa de juros anual.
	.row
		.col-lg-12
			.ibox
				.ibox-title
					h5
						| Parâmetros de entrada 
						small Simule quando precisa investir ao mês para alcançar a sua independência financeira.
				.ibox-content
					.row.text-center
						.col-md-3
							p.font-bold
								| Objetivo de renda
							input.rendimentoObjetivo.single-line#rendimentoObjetivo(type='text', value='1000.0', name='Rendimento Objetivo')
						.col-md-3
							p.font-bold
								| Capital inicial
							input.investimentoInicial.single-line#investimentoInicial(type='text', value='1000.0', name='Investimento Inicial')
						.col-md-3
							p.font-bold
								| Investimento mensal
							input.investimentoMensal.single-line#investimentoMensal(type='text', value='700.0', name='investimento Mensal')
						.col-md-3
							p.font-bold
								| Taxa de juros (ao ano)
							input.taxaJuros.single-line#taxaJuros(type='text', value='12.0', name='Taxa Juros (ao ano)')
	.wrapper.wrapper-content.animated.fadeInRight
		.row
			.col-lg-3
				.widget.style1
					.row
						.col-xs-4.text-center
							i.fa.fa-calendar.fa-4x
						.col-xs-8.text-right
							span Atingir objetivo em
							h3.font-bold
								.valueAnos
								small
									.valueMeses
			.col-lg-3
				.widget.style1.navy-bg
					.row
						.col-xs-4
							i.fa.fa-money.fa-4x
						.col-xs-8.text-right
							span  Valor total investido
							h3.font-bold
								.valueValorInvestidoTotal
			.col-lg-3
				.widget.style1.lazur-bg
					.row
						.col-xs-4
							i.fa.fa-bank.fa-4x
						.col-xs-8.text-right
							span  Saldo final acumulado
							h3.font-bold
								.valueMontanteTotal
			.col-lg-3
				.widget.style1.yellow-bg
					.row
						.col-xs-4
							i.fa.fa-diamond.fa-4x
						.col-xs-8.text-right
							span Rendimento mensal atingido
							h3.font-bold
								.valueRendimentoTotal
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Gráfico da linha do tempo  
						small Observe o rendimento obtido mês a mês com seus investintos
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.row
						.col-lg-12
							.graficoLinhaTempoRendimento#graficoLinhaTempoRendimento
	.row
		.col-lg-6
			.ibox.float-e-margins
				.ibox-title
					h5 Basic Table
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					table.table
						thead
							tr
								th Column 01
								th Column 02
								th Column 03
								th Column 04
						tbody
								td 1
								td Mark
								td Otto
								td @mdo
							tr
								td 2
								td Jacob
								td Thornton
								td @fat
							tr
								td 3
								td Larry
								td the Bird
								td @twitter
		.col-lg-6
			-
				//- list = hard()
				list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
				// retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			each item in list
				li= item
			p retorno
			p hello #{retorno} nda!

			//- script.
				retorno = buscarRendaMensalCalculandoRendimentos2(1000, 12, 100, 500);
				alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
			//- each obj in retorno
				li= obj

	// TouchSpin
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js')
	script(src='/bootstrap/js/highcharts.js')
	script(src='/bootstrap/js/modules/exporting.js')
	script(src='/javascripts/financesjs/funcoesFinances.js')
	script(src='/javascripts/financesjs/funcoesDatas.js')
	script(src='/javascripts/planejamento/renda-mensal.js')
	script.
		$(document).ready(function(){
			atualizaResultado();
			$('.rendimentoObjetivo').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});
			$('.investimentoInicial').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});
			$('.investimentoMensal').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});
			$('.taxaJuros').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});

			$('.rendimentoObjetivo').blur(function f(){
				atualizaResultado();
			});
			$('.investimentoInicial').blur(function f(){
				atualizaResultado();
			});
			$('.investimentoMensal').blur(function f(){
				atualizaResultado();
			});
			$('.taxaJuros').blur(function f(){
				atualizaResultado();
			});

			$(".rendimentoObjetivo").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 1200,
				min: 0,
				max: 100000000000,
				step: 50,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});   
			$(".investimentoInicial").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 1000,
				min: 0,
				max: 100000000000,
				step: 500,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".investimentoMensal").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 780,
				min: 0,
				max: 100000000000,
				step: 50,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".taxaJuros").TouchSpin({
					prefix: '%',
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white',
					decimals: 2,
					initval: 12,
					min: 0,
					max: 100000000000,
					step:0.1,
					verticalbuttons: true,
					verticalupclass: 'fa fa-plus',
					verticaldownclass: 'fa fa-minus'
			});	
		});			