extends ../dashboard

block painel
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Renda Mensal
			ol.breadcrumb
				li
					a(href='/') Inicio
				li
					| Planejamento
				li.active
					strong Renda Mensal
		.col-lg-2
	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Alex Smith
						h4 Founder of Groupeq
						small
							| There are many variations of passages of Lorem Ipsum available, but the majority
							| have suffered alteration in some form Ipsum available.
	.row
		.col-lg-12
			.ibox
				.ibox-title
					h5
						| TouchSpin 
						small http://www.virtuosoft.eu/code/bootstrap-touchspin/
				.ibox-content
					p
						| A mobile and touch friendly input spinner component for Bootstrap 3. It supports the mousewheel and the up/down keys.
					.row
						.col-md-4
							p.font-bold
								| Basic example with empty value
							input.touchspin1(type='text', value='', name='demo1')
						.col-md-4
							p.font-bold
								| Example with postfix
							input.touchspin2(type='text', value='55', name='demo2')
						.col-md-4
							p.font-bold
								| Example with vertical button alignment:
							input.touchspin3(type='text', value='', name='demo3')
	.row
		retorno
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Bar Chart Example 
						small With custom colors.
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up			
						//- a.close-link
							i.fa.fa-times
				.ibox-content
					#graficoLinhaBasico
	.row
		.col-lg-6
			.ibox.float-e-margins
				.ibox-title
					h5 Basic Table
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					table.table
						thead
							tr
								th Column 01
								th Column 02
								th Column 03
								th Column 04
						tbody
								td 1
								td Mark
								td Otto
								td @mdo
							tr
								td 2
								td Jacob
								td Thornton
								td @fat
							tr
								td 3
								td Larry
								td the Bird
								td @twitter
		.col-lg-6
			-
				//- list = hard()
				list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
				// retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			each item in list
				li= item
			p retorno
			p hello #{retorno} nda!

			//- script.
				retorno = buscarRendaMensalCalculandoRendimentos2(1000, 12, 100, 500);
				alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
			//- each obj in retorno
				li= obj

	// TouchSpin
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js')
	script(src='/javascripts/financesjs/funcoes_rendimento.js')
	script.
		$(document).ready(function(){
			retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
		});
	script.
		$(document).ready(function(){
			//- alert("Alert ");
			//- retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			//- alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
			//- for (var i = 0; i < retorno.ObjPeriodo.length; i++) {
			//- 	console.log("\n("+retorno.ObjPeriodo[i]+") "+retorno.ObjMesAno[i]+
			//- 							"\n\t\t Capital \tDepositos \t Total\n Investimento \t"+
			//- 							retorno.ObjValorInvestidoCapital[i].toFixed(2)+" \t"+
			//- 							retorno.ObjValorInvestidoDepositos[i].toFixed(2)+" \t"+
			//- 							retorno.ObjValorInvestidoTotal[i].toFixed(2)+"\n Rendimento \t"+
										
			//- 							retorno.ObjRendimentoCapital[i].toFixed(2)+" \t \t"+
			//- 							retorno.ObjRendimentoDepositos[i].toFixed(2)+" \t \t"+
			//- 							retorno.ObjRendimentoTotal[i].toFixed(2)+"\n Montante \t"+
										
			//- 							retorno.ObjMontanteCapital[i].toFixed(2)+"\t \t"+
			//- 							retorno.ObjMontanteDepositos[i].toFixed(2)+"\t"+
			//- 							retorno.ObjMontanteTotal[i].toFixed(2)+"\n\n Depósito: "+
			//- 							retorno.ObjDepositoMensal[i].toFixed(2)+" | Objetivo: "+
			//- 							retorno.ObjRendimentoObjetivo[i].toFixed(2)+" | Up: "+
			//- 							retorno.ObjUpValor[i].toFixed(2)
			//- 						);
			//- }
		// var values, values2 = 10;
		// for (var i = 10; i < 10; i++) {
		// 	values.um = i;
		// 	values.dois = i*2;
		// 	values.tres = i*3;
		// }
		//- $(document).ready(function(){
			$(".touchspin1").TouchSpin({
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white'
			});

			$(".touchspin2").TouchSpin({
					min: 0,
					max: 100,
					step: 0.1,
					decimals: 2,
					boostat: 5,
					maxboostedstep: 10,
					postfix: '%',
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white'
			});

			$(".touchspin3").TouchSpin({
					verticalbuttons: true,
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white'
			});
		});			