extends ../dashboard

block painel
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Renda Mensal
			ol.breadcrumb
				li
					a(href='/') Inicio
				li
					| Planejamento
				li.active
					strong Renda Mensal
		.col-lg-2
	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Alex Smith
						h4 Founder of Groupeq
						small
							| There are many variations of passages of Lorem Ipsum available, but the majority
							| have suffered alteration in some form Ipsum available.
	.row
		.col-lg-12
			.ibox
				.ibox-title
					h5
						| Rendimento mensal 
						small Simule quando precisa investir ao mês para alcançar a sua independência financeira.
				.ibox-content
					.row.text-center
						.col-md-3
							p.font-bold
								| Objetivo de renda
							input.rendimentoObjetivo(type='text', value='', name='Rendimento Objetivo')
						.col-md-3
							p.font-bold
								| Investimento inicial
							input.investimentoInicial(type='text', value='', name='Investimento Inicial')
						.col-md-3
							p.font-bold
								| Investimento mensal
							input.investimentoMensal(type='text', value='', name='investimento Mensal')
						.col-md-3
							p.font-bold
								| Taxa de juros ao ano
							input.taxaJuros(type='text', value='', name='Taxa Juros (ao ano)')
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Bar Chart Example 
						small With custom colors.
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.row
						.col-lg-10
							.container2
						.col-lg-2
							.widget.navy-bg.p-lg.text-center
								.m-b-md
									i.fa.fa-calendar.fa-4x
									h1.m-xs 
										.emAnos
									h3.font-bold.no-margins
										| anos
									small 8 meses
							.widget.style1.navy-bg
								.row.vertical-align
									.col-xs-3
										i.fa.fa-money.fa-3x
									.col-xs-9.text-right
										h2.font-bold 10
							.widget.style1.navy-bg
								.row.vertical-align
									.col-xs-3
										i.fa.fa-rss.fa-3x
									.col-xs-9.text-right
										h2.font-bold 10
					//- .graficoTesters
					//- .graficoLinhaTempoRendimento
					//- .graficoLinhaBasico
	.row
		.col-lg-6
			.ibox.float-e-margins
				.ibox-title
					h5 Basic Table
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					table.table
						thead
							tr
								th Column 01
								th Column 02
								th Column 03
								th Column 04
						tbody
								td 1
								td Mark
								td Otto
								td @mdo
							tr
								td 2
								td Jacob
								td Thornton
								td @fat
							tr
								td 3
								td Larry
								td the Bird
								td @twitter
		.col-lg-6
			-
				//- list = hard()
				list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
				// retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			each item in list
				li= item
			p retorno
			p hello #{retorno} nda!

			//- script.
				retorno = buscarRendaMensalCalculandoRendimentos2(1000, 12, 100, 500);
				alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
			//- each obj in retorno
				li= obj

	// TouchSpin
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js')
	script(src='/javascripts/financesjs/funcoes_rendimento.js')
	script(src='/javascripts/highcharts/graficosHighCharts.js')
	script.
		$(document).ready(function(){
			retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			// alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
		});
	script.
		$(document).ready(function(){
			//- alert("Alert ");
			//- retorno = buscarRendaMensalCalculandoRendimentos(1000, 12, 100, 500);
			//- alert("Ret: "+retorno.ObjValorInvestidoCapital[5].toFixed(2));
			//- for (var i = 0; i < retorno.ObjPeriodo.length; i++) {
			//- 	console.log("\n("+retorno.ObjPeriodo[i]+") "+retorno.ObjMesAno[i]+
			//- 							"\n\t\t Capital \tDepositos \t Total\n Investimento \t"+
			//- 							retorno.ObjValorInvestidoCapital[i].toFixed(2)+" \t"+
			//- 							retorno.ObjValorInvestidoDepositos[i].toFixed(2)+" \t"+
			//- 							retorno.ObjValorInvestidoTotal[i].toFixed(2)+"\n Rendimento \t"+
										
			//- 							retorno.ObjRendimentoCapital[i].toFixed(2)+" \t \t"+
			//- 							retorno.ObjRendimentoDepositos[i].toFixed(2)+" \t \t"+
			//- 							retorno.ObjRendimentoTotal[i].toFixed(2)+"\n Montante \t"+
										
			//- 							retorno.ObjMontanteCapital[i].toFixed(2)+"\t \t"+
			//- 							retorno.ObjMontanteDepositos[i].toFixed(2)+"\t"+
			//- 							retorno.ObjMontanteTotal[i].toFixed(2)+"\n\n Depósito: "+
			//- 							retorno.ObjDepositoMensal[i].toFixed(2)+" | Objetivo: "+
			//- 							retorno.ObjRendimentoObjetivo[i].toFixed(2)+" | Up: "+
			//- 							retorno.ObjUpValor[i].toFixed(2)
			//- 						);
			//- }
		// var values, values2 = 10;
		// for (var i = 10; i < 10; i++) {
		// 	values.um = i;
		// 	values.dois = i*2;
		// 	values.tres = i*3;
		// }
			/////////////////////////////////////////////////
			$(".rendimentoObjetivo").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 1200,
				min: 0,
				max: 100000000000,
				step: 100,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});   
			$(".investimentoInicial").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 1000,
				min: 0,
				max: 100000000000,
				step: 1000,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".investimentoMensal").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 780,
				min: 0,
				max: 100000000000,
				step: 100,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".taxaJuros").TouchSpin({
					prefix: '%',
					buttondown_class: 'btn btn-white',
					buttonup_class: 'btn btn-white',
					decimals: 2,
					initval: 12,
					min: 0,
					max: 100000000000,
					step:0.1,
					verticalbuttons: true,
					verticalupclass: 'fa fa-plus',
					verticaldownclass: 'fa fa-minus'
			});
		});			