extends ../dashboard

block painel
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Comparar diferentes CDB's
			ol.breadcrumb
				li
					a(href='/') Inicio
				li
					| Análise
				li.active
					strong Comparar diferentes CDB's
	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Objetivo | Comparar diferentes CDBs
						h4 Simule e analise a rentabilidade alcançada com diferentes percentuais de CDBs.
						small
							| Informe o valor que será investido e por quanto tempo será investido.

	.row
		.col-lg-12
			.ibox
				.ibox-title
					h5
						| Parâmetros de entrada 
						small Simule qual será o capital obtido após um período de investimentos mensais.
				.ibox-content
					.row.text-center
						.col-md-3
							p.font-bold
								| Tempo investido (meses)
							input.tempoInvestido.single-line#tempoInvestido(type='text', value='60', name='Período Investido')
						.col-md-3
							p.font-bold
								| Valor investido
							input.valorInvestido.single-line#valorInvestido(type='text', value='5000.00', name='Valor Investido')
						.col-md-3
							.widget.style1.navy-bg
								.row
									.col-xs-4.text-center
										i.fa.fa-line-chart.fa-4x
									.col-xs-8.text-right
										span Taxa atual do CDI
										h3.font-bold
											| 14.13
										small
											| ao ano
						.col-md-3
							.widget.style1.yellow-bg
								.row
									.col-xs-4.text-center
										i.fa.fa-signal.fa-4x
									.col-xs-8.text-right
										span Faixa de Imposto de Renda (IR)
										h3.font-bold
											| 15%
											small
												//- .valueMeses

	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Gráfico simulando e comparando CDBs  
						small Simulação para comparar o valor dos investimetos em diferentes percentuais do CDI
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.row
						.col-lg-12
							.graficoColunasComparativo#graficoColunasComparativo

	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5 
						| Tabela detalhada simulando e comparando CDBs 
						small Detalhamento da simulação para comparar o valor dos investimetos em diferentes percentuais do CDI
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.table-responsive
						table.table-hover.footable.table.table-stripped#tabelaDadosComparativo

	.row.m-b-lg.m-t-lg
		.col-md-6.col-md-offset-3
			.profile-image
				img.img-circle.circle-border.m-b-md(src='/images/small/10s.jpg', alt='profile')
			.profile-info
				div
					div
						h2.no-margins
							| Objetivo | Comparar diferentes CDBs
						h4 Simule e analise mais detalhadamente a rentabilidade alcançada com um percentual de CDB.
						small
							| Informe o valor que será investido, o quanto tempo será investido e o percentual do CDI.

	.row
		.col-lg-12
			.ibox
				.ibox-title
					h5
						| Parâmetros de entrada 
						small Simule qual será o capital obtido após um período de investimentos mensais.
				.ibox-content
					.row.text-center
						.col-md-3
							p.font-bold
								| Tempo investido (meses)
							input.tempoInvestido2.single-line#tempoInvestido2(type='text', value='60', name='Período Investido')
						.col-md-3
							p.font-bold
								| Valor investido
							input.valorInvestido2.single-line#valorInvestido2(type='text', value='5000.00', name='Valor Investido')
						.col-md-3
							p.font-bold
								| Percentual do CDI
							input.percentualCDI2.single-line#percentualCDI2(type='text', value='110', name='Percentual do CDI')
						.col-md-3
							.widget.style1.navy-bg
								.row
									.col-xs-4.text-center
										i.fa.fa-line-chart.fa-4x
									.col-xs-8.text-right
										span Taxa atual do CDI
										h3.font-bold
											| 14.13
										small
											| ao ano

	.row
		.col-lg-6
			.ibox.float-e-margins
				.ibox-title
					h5
						| Gráfico linha do tempo  
						small Valor futuro do investimento com variação do CDI ( -10% )( +10% )
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.row
						.col-lg-12
							.graficoLinhaTempoRendimento#graficoLinhaTempoRendimento
		.col-lg-6
			.ibox.float-e-margins
				.ibox-title
					h5
						| Gráfico linha do tempo  
						small Valor futuro do investimento com variação do CDI ( -10% )( +10% )
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.row
						.col-lg-12
							.graficoLinhaTempoRendimento#graficoLinhaTempoRendimentoLiquido
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5 
						| Tabela com detalhamento por perído 
						small Detalhamento da simulação do rendimento do CDB com e sem incidência de imposto de renda (IR)
					.ibox-tools
						a.collapse-link
							i.fa.fa-chevron-up
				.ibox-content
					.table-responsive
						table.table-hover.footable.table.table-stripped#tabelaDados
	.row
		.col-lg-12
			p &nbsp;

	// TouchSpin
	script(src='/bootstrap/js/jquery-2.1.1.js')
	script(src='/bootstrap/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js')
	script(src='/bootstrap/js/highcharts.js')
	script(src='/bootstrap/js/modules/exporting.js')
	script(src='/javascripts/financesjs/funcoesFinances.js')
	script(src='/javascripts/financesjs/funcoesDatas.js')
	//- script(src='/javascripts/planejamento/rendimento-mensal-independencia-financeira.js')
	script(src='/javascripts/analise/comparar-simular-cdb.js')
	script(src='/bootstrap/js/plugins/dataTables/datatables.min.js')

	script.
		$(document).ready(function(){
			atualizaResultado();		
			$('.tempoInvestido').on('touchspin.on.startspin', function f(){
				document.getElementById("tempoInvestido2").value = document.getElementById("tempoInvestido").value;
				atualizaResultado();
			});
			$('.valorInvestido').on('touchspin.on.startspin', function f(){
				document.getElementById("valorInvestido2").value = document.getElementById("valorInvestido").value;
				atualizaResultado();
			});
			$('.tempoInvestido2').on('touchspin.on.startspin', function f(){
				document.getElementById("tempoInvestido").value = document.getElementById("tempoInvestido2").value;
				atualizaResultado();
			});
			$('.valorInvestido2').on('touchspin.on.startspin', function f(){
				document.getElementById("valorInvestido").value = document.getElementById("valorInvestido2").value;
				atualizaResultado();
			});
			$('.percentualCDI2').on('touchspin.on.startspin', function f(){
				atualizaResultado();
			});

			$('.tempoInvestido').blur(function f(){
				document.getElementById("tempoInvestido2").value = document.getElementById("tempoInvestido").value;
				atualizaResultado();
			});
			$('.valorInvestido').blur(function f(){
				document.getElementById("valorInvestido2").value = document.getElementById("valorInvestido").value;
				atualizaResultado();
			});
			$('.tempoInvestido2').blur(function f(){
				document.getElementById("tempoInvestido").value = document.getElementById("tempoInvestido2").value;
				atualizaResultado();
			});
			$('.valorInvestido2').blur(function f(){
				document.getElementById("valorInvestido").value = document.getElementById("valorInvestido2").value;
				atualizaResultado();
			});
			$('.percentualCDI2').blur(function f(){
				atualizaResultado();
			});

			$(".tempoInvestido").TouchSpin({
				//- prefix: 'meses',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 0,
				initval: 60,
				min: 0,
				max: 100000000000,
				step: 1,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});   
			$(".valorInvestido").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 5000,
				min: 0,
				max: 100000000000,
				step: 50,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".tempoInvestido2").TouchSpin({
				//- prefix: 'meses',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 0,
				initval: 60,
				min: 0,
				max: 100000000000,
				step: 1,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});   
			$(".valorInvestido2").TouchSpin({
				prefix: 'R$',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 2,
				initval: 5000,
				min: 0,
				max: 100000000000,
				step: 50,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
			$(".percentualCDI2").TouchSpin({
				prefix: '%',
				buttondown_class: 'btn btn-white',
				buttonup_class: 'btn btn-white',
				decimals: 0,
				initval: 110,
				min: 0,
				max: 100000000000,
				step: 1,
				verticalbuttons: true,
				verticalupclass: 'fa fa-plus',
				verticaldownclass: 'fa fa-minus'
			});
		});