doctype html
html(lang="pt-BR")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title INCONE.ME | Investimento em renda fixa
		link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='/bootstrap/font-awesome/css/font-awesome.css', rel='stylesheet')
		link(href='/bootstrap/css/animate.css', rel='stylesheet')
		link(href='/bootstrap/css/style.css', rel='stylesheet')
	//- if evt01 === 0
		body.pace-done.mini-navbar
	body.pace-done.mini-navbar
			block content
			
			// Mainly scripts
			script(src='/bootstrap/js/jquery-2.1.1.js')
			script(src='/bootstrap/js/bootstrap.min.js')
			script(src='/bootstrap/js/plugins/metisMenu/jquery.metisMenu.js')
			script(src='/bootstrap/js/plugins/slimscroll/jquery.slimscroll.min.js')
			// Flot
			script(src='/bootstrap/js/plugins/flot/jquery.flot.js')
			script(src='/bootstrap/js/plugins/flot/jquery.flot.tooltip.min.js')
			script(src='/bootstrap/js/plugins/flot/jquery.flot.resize.js')
			script(src='/bootstrap/js/plugins/flot/jquery.flot.pie.js')
			// Custom and plugin javascript
			script(src='/bootstrap/js/inspinia.js')
			script(src='/bootstrap/js/plugins/pace/pace.min.js')
			// ChartJS
			//- script(src='/bootstrap/js/plugins/chartJs/Chart.min.js')
			//- script(src='/bootstrap/js/demo/chartjs-demo.js')
			// HighCharts
			script(src='/bootstrap/js/highcharts.js')
			script(src='/bootstrap/js/modules/exporting.js')
			script(src='/javascripts/highcharts/graficosHighCharts.js')
			script.
				function myFunction() {
					alert('gogogo!');
					var body = $('.body');
					body.removeClass('pace-done');
					body.removeClass('mini-navbar');
					$(document).trigger('buttonClick');
					//- document.getElementById("body").addClass(pace-done.mini-navbar);

				}
				$(document).ready(function(){
					var evt01 = 0;
					alert('ge');
					//- $("#body").length
					//- document.getElementById("body")

				});	