extends ../layout

block content
	h1 Módulo 02
	br
	a.h2(href="/modulo02/listar" title="Listar") Listar
	br
	a.h2(href="/modulo02/cadastrar" title="Cadastrar") Cadastrar
	br
	a.h2(href="/" title="Home") Voltar
