extends ../layout

block content
 .wrapper.wrapper-content.animated.fadeInRight
  .row
   .col-lg-6
    .ibox.float-e-margins
      .ibox-title
        h5
          | Line Chart Example &nbsp;
          small With custom colors. (#{lista})
        div(ibox-tools='')
      .ibox-content
        div
         #graficoLinhaBasico
   .col-lg-6
    .ibox.float-e-margins
      .ibox-title
        h5
          | Line Chart Example &nbsp;
          small With custom colors.
        div(ibox-tools='')
      .ibox-content
        div
          #graficoLinhaDuplo